.left-content{
  width: 15%;
  height: 90%;
  /* position: absolute; */
  /* margin: 0 auto; */
  /* margin-right: 1px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0c0a0f;

}

.create-playlist-link{
  border-top: 1px solid #a0a0a0;
  height: 13%;
  display: flex;
  align-items: center;
  color: #a0a0a0;
}

.create-playlist-link:hover > .create-playlist-icon{
  border: 2px solid white;
}

.create-playlist-icon{
  border-radius: 50%;
  border: 1px solid #a0a0a0;
  background-color: transparent;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  -webkit-transition: color .5s, -webkit-transform .5s;
  transition: color .5s transform .5s;
}

#cross {
  padding-bottom: 2%;
  font-size: 35px;
  color: #a0a0a0;
    -webkit-text-stroke: 100% white;
    -webkit-transition: color .5s, -webkit-transform .5s;
    transition: color .5s transform .5s;
}

.create-playlist-icon:hover {
  border: 2px solid white;
}

.create-playlist-icon:hover > #cross{
  color: white;
}

.user-playlist-index{
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   /*margin-left: 10%; */
}

.user-playlist-index::-webkit-scrollbar {
    width: 12px;
}


.user-playlist-index h3{
  color: #a0a0a0;
  font-weight: bold;
  letter-spacing: 3px;
}

.playlist-item{
  margin-top: 5%;
  display: flex;
  align-self: center;
  color: #a0a0a0;
  cursor: pointer;
}

.user-playlist-index ul li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.playlist-item:hover{
  color: white;
}

.user-music-nav{
  color: #a0a0a0;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}

.user-music-nav p{
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-music-nav p:hover{
  color: white;
  cursor: pointer;
}

.user-music-nav h1{
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.playlists-container{
  padding-left: 10%;
}
