.left-content{
  border: 2px solid green;
  width: 15%;
  height: 85%;
  position: absolute;
  margin: 0 auto;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
