#profile-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

#profile-link{
  font-size: 18px;
}

#logout-btn-container{
  width: 40%;
}


#profile-icon-container{
  width: 40%;
}

#logout-btn-container button{
  position: absolute;
  font-size: 12px;
  width: 6%;
  height: 25px;
  border-radius: 30px;
  border: 2px solid #a9a9a9;
  background-color: transparent;
  color: white;
  -webkit-transition: width height font-size border-color margin-top 2.3s;
   transition: width height font-size border-color 2.3s;
   outline: none;
}

#logout-btn-container button:hover{
  font-size: 12.5px;
  cursor: pointer;
  width: 6.5%;
  height: 27px;
  border-color: white;
  margin-top: -5px;
}
