#profile-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

#profile-link{
  font-size: 18px;
}

#logout-btn-container{
  width: 40%;
  margin-right: 30px;
}


#profile-icon-container{
  width: 40%;
  padding-top: 3px;
}

#logout-btn-container button{
  position: absolute;
  border-radius: 30px;
  border: 2px solid #a9a9a9;
  background-color: transparent;
  color: white;
  -webkit-transition: width height font-size border-color margin-top 2.3s;
   transition: width height font-size border-color 2.3s;
   outline: none;
   padding: 6px 25px;
   margin-right: 30px;
   white-space: nowrap;
}

#logout-btn-container button:hover{

  cursor: pointer;
  transform: scale(1.1);
  border-color: white;
  margin-top: -5px;
}
