.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 1s;
}



.edit-form-modal-open {
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 1s;
}

.edit-form-modal-close{
  display: none;
}



@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes slide{
  from { left: 0;}
  to { right: 1000px;}
}

#playlist-form-modal{
  /*display: none;*/
  height: 90%;
  position: absolute;
}

.create-playlist-link:hover{
  cursor: pointer;
}

/* Modal Content */
.modal-content {
    background-color: #282828;
    margin: auto;
    border: 1px solid #888;
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.form-header{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #404040;
  height: 9%;
}

.modal-content h2{
  height: 10%;
  margin: auto;
  align-items: center;
  padding-bottom: 3%;
  font-size: 13px;
  font-weight: bold;
}

.modal-content textarea{
  width: 90%;
  height: 100px;
  font-size: 14px;
}

.modal-content label{
  margin-top: 5%;
  color: #a0a0a0;
}

.playlist-form{
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.playlist-form input{
  width: 85%;
  color: black;
  font-size: 15px;
}

.form-btns{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.playlist-form button{
  border: 1px solid white;
  cursor: pointer;
  margin-left: 5%;
  width: 25%;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  -webkit-transition: width height font-size border-color margin-top 2.3s;
   transition: width height font-size border-color 2.3s;
   outline: none;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 13px 38px;
  letter-spacing: 3px;
}

.playlist-form button:active{
  transform: scale(.8);
}

.playlist-form button:hover{
  transform: scale(1.1);
}

#form-create-btn{
  background-color: #07b44d;
  border: none;
}




/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-test{
  position: absolute;
}
