.fast-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

#right-click-menu-container{
  display: none;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  background-color: #2e1a31;
  border-radius: 2px;
}

#right-click-menu-container p{
  font-size: 75%;
}

#right-click-menu-container p:hover{
  background: #6f5574;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menu-playlists {
  border: 1px solid red;
  height: 100px;
  width: 100px;
}
