.fast-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.right-click-menu-container{
  display: none;
  position: relative;
  white-space: nowrap;
  border-radius: 2px;
  font-size: 17px;
}

.right-click-menu-container p{
  font-size: 75%;
}

.right-click-menu-container p:hover{
  background: #6f5574;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.menu-playlists {
  overflow: visible;
  height: 100px;
  width: 100px;
  display: none;
  margin-left: 10px;
  background-color: #2e1a31;
  box-shadow: 10px 10px 5px #151218;
}

.menu-playlist-item:hover{
  /*background: #6f5574;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.menu-playlists ul li{
  font-family: 'Alegreya Sans', sans-serif;
  color: #989797
}

.menu-playlists ul li:hover{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

.right-click-menu-items {
  background: none;
}
