.top-content{
  border: 2px solid #00dfff;
  width: 90%;
  margin-left: 15%;
  margin-right: 15%;
  /* margin-top: 0; */
  /* padding-top: 10px; */
  height: 6%;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  /* align-items: center; */
  /* padding: 4%; */
  padding-top: 3%;
}

.profile-container{
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.search-container{
  width: 30%;
    display: flex;
    flex-direction: column;
}
