.top-content{
  border: 2px solid #00dfff;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  position: absolute;
  margin-top: 0;
  height: 8%
}

.profile-container{
  width: 25%;
  margin-left: 74%;
}

.search-bar-container{
  width: 30%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}
