.top-content{
  border: 2px solid #00dfff;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  position: absolute;
  margin-top: 0;
  height: 8%
}

.profile-container{
  border: 1px dotted #1fe700;
  width: 25%;
  margin-left: 74%;
}
