

#search-bar{
  border-radius: 20px;
  width: 100%;
  text-indent: 25px;
  color: #5c5c5c;
  font-size: 12px;
  outline: none;
}

.inside {
  margin-top: 3px;
  color: #5c5c5c;
  position: absolute;
  margin-left: 1%;
}

#search-bar::-webkit-input-placeholder{
  color: #5c5c5c;

}

#search-bar-container{
  margin-left: 10%;
}
