.search-results-dropdown-container{
  width: 91%;
  margin-left: 11%;
  border-radius: 4px;
  background-color: #242424;
  opacity: .9;
  z-index: 10;
}

.search-items-container h3{
  color: #7a7a7a;
  text-indent: 10px
}

.search-items-container ul li{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12px;
  text-indent: 10px;
  padding-top: 8px;
  z-index: 10;

}

.search-items-container ul li:hover{
  background: #4d4d4d;
  cursor: pointer;
}

.search-items-container img{
  height: 13%;
  width: 13%;
  vertical-align: middle;
}

.list-item-padding {
  margin-left: 10px;
  vertical-align: middle;
  line-height: 50px;
  font-size: 17px;
}

/*.list-item-artist{
  width: 100px;
  height: 100px;
  overflow: visible;
  flex: display;
}*/

.list-item-artist img {
  display: inline;
  height: 100px;
  width: 100px;
  border-radius: 60%;
}

.list-item-song {
  font-size: 16px;
}
/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Cabin', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Cabin Condensed', sans-serif;
font-family: 'Didact Gothic', sans-serif;*/
