
.signup-form-page {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  background: url("https://cdn.suwalls.com/wallpapers/photography/listening-to-music-at-sunset-46733-1920x1200.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
  background-size: cover;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

.signup-form-page h3{
  margin-top: 150px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;;
  width: 40%;
  margin-left: 30%;
}

.signup-form {
  margin-top: 10%;
}

.signup-form-page input {
  width: 70%;
  height: 40px;
  margin-top: 10px;
  font-size: 15px;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
  opacity: .7;
  transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

.signup-container{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  margin-left: 8%;
  border-right: 1px solid white;
}

.login-link-container{
  margin-top: 40px;
}

.login-link{
  text-decoration: none;
  color: white;
  -webkit-transition: text-decoration 1s;
   transition: text-decoration 1s;
}

.login-link:hover{
  text-decoration: underline;
}

.signup-form button{
  background: transparent;
  color: white;
  border: 3px solid white;
  border-radius: 20px;
  width: 40%;
  height: 40px;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 3px;
}

.signup-form button:hover{
  cursor: pointer;
}

.slogan-container {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 8%;
}

.slogan-container h2{
  color: #07d159;
  font-weight: bold;
  font-size: 50px;
  text-align: left;
}

.slogan-container p{
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 23px;
}

.form-errors {
  display: none;
}

.show-signup-error{
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: -50px;
  margin-left: 35%;
  border: 2px solid red;
  width: 210px;
  height: 40px;
  background: red;
  position: absolute;
  -moz-border-radius:    10px;
  -webkit-border-radius: 5px;
}

#beathub-logo{
  position: absolute;
  height: 180px;
  width: 160px;
  margin-left: 23%;
  margin-top: 2%;
}
