
.signup-form-page {
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  background: url("https://cdn.suwalls.com/wallpapers/photography/listening-to-music-at-sunset-46733-1920x1200.jpg");
  background-size: cover;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.signup-form-page h3{
  margin-top: 100px;
}

.signup-form {
  margin-top: 100px;
  border-right: 1px solid white;
}

.signup-form-page input {
  width: 70%;
  height: 40px;
  margin-top: 10px;
  font-size: 15px;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
  opacity: .7;
  transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

.signup-container{
  width: 40%;
  margin-left: 8%;
}
