.center-content{
  width: 70%;
  height: 90%;
  /* position: absolute; */
  left: 15%;
  /* margin-top: 5%; */
  border: 2px solid red;
  color: white;
}

#artist-link {
  color: #c3c3c3;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#artist-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

#light-to-dark-background {
background: #432551; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(#432551, #19171a); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#432551, #19171a); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#432551, #19171a); /* For Firefox 3.6 to 15 */
background: linear-gradient(#432551, #19171a); /* Standard syntax */
}


.album-show {
  border: 2px dotted #000;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: space-around;
}

.album-show-songs {
  height: auto;
  width: 60%;
}
.album-show p {
  color: #989797;
}

#album-song-count {
  color: #7a6b81;
  padding-top: 3%;
}

.album-show-description img{
  width: 45%;
  padding-top: 5%;
}

.album-show-description h1{
  font-weight: 700;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 200%;
  padding-top: 3%;
}

.album-show-description{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-show-description button {
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 6%;
  background-color: #07b44d;
  border-radius: 20px;
  border: none;
  width: 20%;
  height: 5%;
  color: white;
  font-weight: bold;
  -webkit-transition: width height background-color 1s;
   transition: width height background-color 1s ease-in-out;
   outline: none;
}

.album-show-description button:hover {
  transform: scaleX(1.2);
  transform: scaleY(1.1);
  cursor: pointer;
  background-color: #07d159;
}

.album-show-description button:active {
  transform: scale(0.94);
  opacity: .8;
  background-color: #07b44d;
}

.song-list-item-container {
  height: 5%;
  display: flex;
  justify-content: space-between;
}

.song-list-item-container:hover{
  background-color: #44304d;
  cursor: pointer;
}

.song-list-item {
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  justify-content:flex-start;
}

.song-list-item:hover > .song-item-play-btn-container{
  display: block;
}

.song-item-play-btn-container button{
  background: none;
  border-radius: 50%;
  border: 1px solid #d8d7d8;
  height: 30px;
  width: 30px;
  outline: none;
}

.song-item-play-btn-container button:hover{
  border: 2px solid #d8d7d8;
  cursor: pointer;
}

.song-item-play-btn-container button:active{
  border: 2px solid #545454;
  cursor: pointer;
  transform: scale(.94);
}

.song-item-play-btn-container button:active > #triangle-test{
  border-left: 10px solid #6d6d6d;
}

.song-item-play-btn-container button:active > #pause{
  border-right: 4px solid #6d6d6d;
  border-left: 4px solid #6d6d6d;
}

.song-item-play-btn-container {
  position: relative;
  float: right;
  left: 10px;
  z-index: 6;
  display: none;
}


#song-list-item-duration{
  padding-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.song-item-order-container{
  color: #989797;
  font-family: 'Alegreya Sans', sans-serif;
}

.song-item-song-name{
  margin-left: 10%;
}

.song-item-song-name p {
  color: #c7bdcc;
  font-size: 20px;
}

#triangle-test{
  width: 0;
  height: 0;
  margin-left: 5px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid white;
}

#pause{
  padding-left: 1px;
  width: 4px;
  height: 14px;
  border-right: 4px solid white;
  border-left: 4px solid white;
}

#right-click-menu-container {
  display: none;
}
