.bottom-content{
  border: 2px solid white;
  height: 13%;
  width: 100%;
  /* top: 84%; */
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

.audio-display{
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-top: 3.8%;
}

.play-controls{
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.status-bar-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.status-bar{
  width: 90%
}

.play-btn{
  background: none;
  border-radius: 50%;
  border: 1px solid #a0a0a0;
  height: 30px;
  width: 30px;
  outline: none;
  color: #a0a0a0;
}

.play-btn:after{
  box-shadow: inset 0 0 0 1px #a0a0a0
}

.play-btn:hover{
  border: 2px solid #d8d7d8;
  cursor: pointer;
}

.play-btn:hover > #play-arrow {
  border-left: 10px solid white;
}

.play-btn:active{
  border: 2px solid #545454;
  cursor: pointer;
  transform: scale(.94);
}

.play-btn:active > #play-arrow{
  border-left: 10px solid #6d6d6d;
}

.play-btn:active > #pause{
  border-right: 4px solid #6d6d6d;
  border-left: 4px solid #6d6d6d;
}

#play-arrow{
  width: 0;
  height: 0;
  margin-left: 5px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid #a0a0a0;
}

.skip-btn{
  background: none;
  border: none;
  outline: none;
}

.skip-btn:active > .arrow-right {
  border-left: 6px solid #6d6d6d;
  cursor: pointer;
  transform: scale(.90);
}

.skip-btn:active > .arrow-left {
  border-right: 6px solid #6d6d6d;
  cursor: pointer;
  transform: scale(.90);
}

.skip-btn:hover > .arrow-right{
  border-left: 10px solid white;
}

.skip-btn:hover > .arrow-left{
  border-right: 10px solid white;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #a0a0a0;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right:8px solid #a0a0a0;
}

.shuffle-btn{
  margin-top: 2.5%;
  border: none;
  background: none;
  background-image: url("http://www.iconsplace.com/download/white-shuffle-256.ico");
  background-size: 55% 65%;
  background-repeat: no-repeat;
  width: 10%;
  outline: none;
}

.shuffle-btn:hover {
  transform: scale(1.2);
}

.shuffle-btn:active{
  transform: scale(.9);
}

.repeat-btn{
  background: none;
  background-image: url("https://1001freedownloads.s3.amazonaws.com/vector/thumb/66492/ic_auto_repeat_disabled.png");
  background-repeat: no-repeat;
  background-size: 90% 90%;
  width: 10%;
  outline: none;
  margin-top: 1%;
  border: none;
}

.repeat-btn:hover{
  transform: scale(1.2);
}

.repeat-btn:active{
  transform: scale(.9);
}

.volume-control{
  width: 10%;
  display: flex;
  justify-content: flex-start;
  background: transparent;
  align-items: center;
}

.volume-bar{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 40px;
  box-sizing: border-box;
}

.volume-icon{
  background-image: url("http://www.iconsdb.com/icons/preview/white/volume-up-4-xxl.png");
  height: 18px;
  width: 18px;
  background-size: contain;
  margin-right: 15px;
}
