.bottom-content{
  height: 13%;
  width: 100%;
  min-height: 84px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  bottom: 0;
}

.audio-display{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex: 8;
}

.play-controls{
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.status-bar-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.status-bar{
  width: 90%
}

.status-bar:hover{
  cursor: pointer;
}

.play-btn{
  background: none;
  border-radius: 50%;
  border: 1px solid #a0a0a0;
  height: 30px;
  width: 30px;
  outline: none;
  color: #a0a0a0;
}

.play-btn:after{
  box-shadow: inset 0 0 0 1px #a0a0a0
}

.play-btn:hover{
  border: 2px solid #d8d7d8;
  cursor: pointer;
}

.play-btn:hover > #play-arrow {
  border-left: 10px solid white;
}

.play-btn:active{
  border: 2px solid #545454;
  cursor: pointer;
  transform: scale(.94);
}

.play-btn:active > #play-arrow{
  border-left: 10px solid #6d6d6d;
}

.play-btn:active > #pause{
  border-right: 4px solid #6d6d6d;
  border-left: 4px solid #6d6d6d;
  margin-left: 1px;
  margin-right: 1px;
}

#pause {
  margin-left: 1px;
  margin-right: 1px;
}

#play-arrow{
  width: 0;
  height: 0;
  margin-left: 5px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid #a0a0a0;
}

.skip-btn{
  background: none;
  border: none;
  outline: none;
}

.skip-btn:active > .arrow-right {
  border-left: 6px solid #6d6d6d;
  cursor: pointer;
  transform: scale(.90);
}

.skip-btn:active > .arrow-left {
  border-right: 6px solid #6d6d6d;
  cursor: pointer;
  transform: scale(.90);
}

.skip-btn:hover > .arrow-right{
  border-left: 10px solid white;
  cursor: pointer;
}

.skip-btn:hover > .arrow-left{
  border-right: 10px solid white;
  cursor: pointer;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #a0a0a0;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right:8px solid #a0a0a0;
}

.shuffle-btn{
  border: none;
  background: none;
  background-image: url(http://www.iconsplace.com/download/white-shuffle-256.ico);
  background-repeat: no-repeat;
  outline: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-width: 30px;
  transform: scale(.6);
}

.shuffle-btn:hover{
  cursor: pointer;
}

.shuffle-btn:hover {
  transform: scale(.7);
}

.shuffle-btn:active{
  transform: scale(.5);
}

.repeat-btn{
  background: none;
  background-image: url(https://1001freedownloads.s3.amazonaws.com/vector/thumb/66492/ic_auto_repeat_disabled.png);
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  margin-top: 1%;
  border: none;
  background-position: 50% 50%;
  min-width: 30px;
}

.repeat-btn:hover{
  transform: scale(1.2);
}

.repeat-btn:active{
  transform: scale(.9);
}

.volume-control{
  width: 10%;
  justify-content: flex-start;
  background: transparent;
  align-items: center;
  flex: 1;
  display: flex;
  margin-right: 20px;
}

.volume-bar{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.volume-icon{
  background-image: url(http://www.iconsdb.com/icons/preview/white/volume-up-4-xxl.png);
  height: 18px;
  width: 18px;
  background-size: contain;
  margin-right: 15px;
  background-repeat: no-repeat;
}

.album-art-thumbnail {
  padding: 20px;
}

.album-art-thumbnail img{
  width: 80px;
}

.current-song-info{
  display:flex;
  flex: 1;
  align-items: center;
}

.current-song-info marquee{
  position: absolute;
  bottom: 0;
  top: 10%;
  width: 50%;
  left: 25%;
  height: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}

.volume-bar input{
  width: 100%;
}

.volume-bar input:hover{
  cursor: pointer;
  background-color: green;
}

#time-passed {
  color: hsla(0,0%,100%,.4);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

#time-left{
  color: hsla(0,0%,100%,.4);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

#shuffle-icon{

}
